---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout>
	<section id='work-history'>
		<div>
			<h2>Work History</h2>
			<p>Details about my work experience...</p>
		</div>
	</section>
	<section id='projects'>
		<div>
			<h2>Projects</h2>
			<p>Showcase of my work...</p>
		</div>
	</section>
	<section id='achievements'>
		<div>
			<h2>Achievements</h2>
			<p>List of my achievements...</p>
		</div>
	</section>
</MainLayout>
