---
import MainLayout from '../layouts/MainLayout.astro'
import { Image } from 'astro:assets'
import { prismicClient } from '../clients/prismic'
import * as prismic from '@prismicio/client'

const homePage = await prismicClient.getSingle('home')
const { data: home } = homePage

const serializer = {}
---

<MainLayout>
	<!-- Bio -->
	<section id='bio'>
		<div>
			<div
				class='relative mb-1 w-32 h-32 brightness-110 after:content-[""] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-clam-shell-500/10 after:rounded-md after:pointer-events-none'>
				<Image
					class='rounded-md w-full h-full object-cover grayscale'
					src={home.profile_pic.url}
					inferSize
					alt={home.profile_pic.alt}
					widths={[100, 200, 400]}
					sizes='(max-width: 640px) 100px, (max-width: 1024px) 200px, 400px'
				/>
			</div>
			<h2 class='sr-only text-2xl font-bold'>Bio</h2>
			<div class='rich-text'>
				<Fragment set:html={prismic.asHTML(home.biography, { serializer })} />
			</div>
		</div>
	</section>

	<!-- Achievements -->
	<section id='achievements'>
		<div>
			<h2 class='text-2xl font-bold'>Achievements</h2>
			<div class='rich-text'>
				<Fragment set:html={prismic.asHTML(home.achievements, { serializer })} />
			</div>
		</div>
	</section>

	<!-- Projects -->
	<section id='projects'>
		<div>
			<h2 class='text-2xl font-bold'>Projects</h2>
			<div class='rich-text'>
				<Fragment set:html={prismic.asHTML(home.projects, { serializer })} />
			</div>
		</div>
	</section>
</MainLayout>
