<button id='dark-mode-toggle' class='dark-mode-toggle'> Toggle Dark Mode </button>

<script>
	const toggleDarkMode = () => {
		if (localStorage.theme === 'dark') {
			localStorage.theme = 'light'
			document.documentElement.classList.remove('dark')
		} else {
			localStorage.theme = 'dark'
			document.documentElement.classList.add('dark')
		}
	}

	// On page load or when changing themes
	const setTheme = () => {
		document.documentElement.classList.toggle(
			'dark',
			localStorage.theme === 'dark' ||
				(!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
		)
	}
	setTheme()

	// Listen for changes to prefers-color-scheme if localStorage hasn't been set
	if (!('theme' in localStorage)) {
		const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)')
		const handleChange = (e: MediaQueryListEvent) => {
			if (e.matches) {
				document.documentElement.classList.add('dark')
			} else {
				document.documentElement.classList.remove('dark')
			}
		}
		mediaQuery.addEventListener('change', handleChange)
	}

	// Add click event to the dark mode toggle button
	const darkModeToggle = document.getElementById('dark-mode-toggle')
	if (darkModeToggle) {
		darkModeToggle.addEventListener('click', toggleDarkMode)
	}
</script>
