<footer>
	<div>
		<h2>Connect with Me</h2>
		<ul>
			<li><a href='https://linkedin.com/in/yourprofile' target='_blank'>LinkedIn</a></li>
			<li><a href='https://github.com/yourprofile' target='_blank'>GitHub</a></li>
		</ul>
	</div>
</footer>
