---
import { Icon } from 'astro-icon/components'
---

<footer>
	<div
		class='container mx-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl p-4 md:p-6 lg:p-8'>
		<ul class='flex space-x-4 justify-end items-center text-2xl'>
			<li>
				<a href='https://github.com/wjd3' target='_blank' rel='noopener noreferrer'>
					<Icon name='mynaui:brand-github-solid' />
				</a>
			</li>
			<li>
				<a href='https://linkedin.com/in/wjdiii' target='_blank' rel='noopener noreferrer'>
					<Icon name='mynaui:brand-linkedin-solid' />
				</a>
			</li>
		</ul>
	</div>
</footer>
