<header class='fixed top-0 left-0 w-full z-50'>
	<nav class='container mx-auto'>
		<ul>
			<li><a href='#work-history'>Work History</a></li>
			<li><a href='#portfolio'>Portfolio</a></li>
			<li><a href='#achievements'>Achievements</a></li>
		</ul>
	</nav>
</header>
