---
import { Icon } from 'astro-icon/components'
---

<header>
	<nav
		class='container mx-auto flex justify-between items-center sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl p-4 md:p-6 lg:p-8'>
		<div class='flex space-x-6 items-center'>
			<h1 class='text-3xl font-bold'>WJD3</h1>

			<!-- Nav Links -->
			<ul class='flex space-x-4 items-center text-2xl'>
				<li>
					<a href='#bio'>
						<Icon name='mynaui:search-user-solid' />
					</a>
				</li>
				<li>
					<a href='#projects'>
						<Icon name='mynaui:briefcase-solid' />
					</a>
				</li>
				<li>
					<a href='#wins'>
						<Icon name='mynaui:star-solid' />
					</a>
				</li>
			</ul>
		</div>

		<!-- Dark Mode Toggle -->
		<button
			id='dark-mode-toggle'
			class='dark-mode-toggle transition-[box-shadow,background-color] duration-200 shadow hover:shadow-md shadow-dawn-pink-600 hover:shadow-dawn-pink-400 p-1 text-xl'>
			<Icon id='light-toggle-icon' class='hidden' name='mynaui:sun-solid' />
			<Icon id='dark-toggle-icon' class='hidden' name='mynaui:moon-star-solid' />
		</button>
	</nav>
</header>

<!-- Dark Mode Toggle Logic -->
<script>
	const updateToggleIcon = () => {
		const lightToggleIcon = document.getElementById('light-toggle-icon')
		const darkToggleIcon = document.getElementById('dark-toggle-icon')

		if (lightToggleIcon && darkToggleIcon) {
			if (localStorage.theme === 'dark') {
				lightToggleIcon.classList.add('hidden')
				darkToggleIcon.classList.remove('hidden')
			} else {
				lightToggleIcon.classList.remove('hidden')
				darkToggleIcon.classList.add('hidden')
			}
		}
	}

	const toggleDarkMode = () => {
		if (localStorage.theme === 'dark') {
			localStorage.theme = 'light'
			document.documentElement.classList.remove('dark')
		} else {
			localStorage.theme = 'dark'
			document.documentElement.classList.add('dark')
		}
		updateToggleIcon()
	}

	// On page load or when changing themes
	const setTheme = () => {
		document.documentElement.classList.toggle(
			'dark',
			localStorage.theme === 'dark' ||
				(!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
		)
		updateToggleIcon()
	}
	setTheme()

	// Listen for changes to prefers-color-scheme if localStorage hasn't been set
	if (!('theme' in localStorage)) {
		const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)')
		const handleChange = (e: MediaQueryListEvent) => {
			if (e.matches) {
				document.documentElement.classList.add('dark')
			} else {
				document.documentElement.classList.remove('dark')
			}
			updateToggleIcon()
		}
		mediaQuery.addEventListener('change', handleChange)
	}

	// Add click event to the dark mode toggle button
	const darkModeToggle = document.getElementById('dark-mode-toggle')
	if (darkModeToggle) {
		darkModeToggle.addEventListener('click', toggleDarkMode)
	}
</script>
